$silvertree: #55BA8E;
$oceangreen: #33a071;
$narvik: #F0FAF6;
$vistablue: #8ED9B9;
$limedspruce: #3D484E;
$athensgray: #E4E7EB;
$athensgraylight: #F9FAFB;
$athensgraydark: #E9ECEF;
$palesky: #6A7280;
$aeroblue: #D2FFEC;

$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;