$icomoon-font-family: "SupremeValidationIconFont" !default;
$icomoon-font-path: "~@/assets/fonts/" !default;

$icon-book: "\e900";
$icon-brush: "\e901";
$icon-codacy: "\e902";
$icon-cogs: "\e903";
$icon-copy: "\e904";
$icon-design: "\e905";
$icon-github: "\e906";
$icon-home: "\e907";
$icon-npm: "\e908";
$icon-open-source: "\e909";
$icon-rocket: "\e90a";

$black: #000;
$white: #fff;

$silvertree: #55BA8E;
$oceangreen: #33a071;
$narvik: #F0FAF6;
$vistablue: #8ED9B9;
$limedspruce: #3D484E;
$athensgray: #E4E7EB;
$athensgraylight: #F9FAFB;
$athensgraydark: #E9ECEF;
$palesky: #6A7280;
$aeroblue: #D2FFEC;

$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;